/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../valo/valo.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin fisiosports {
  /* Include all the styles from the valo theme */
  @include valo;
  
 .valo .v-menubar-borderless {
	border: none;
	border-radius: 0;
	padding: 1px;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	background: transparent;
	 /* color: inherit; */
	color: black;
}
 
.v-calendar .v-calendar-event-yellow {
	background-color: #FFFF66;	
	color: black;
}
.v-calendar .v-calendar-event-cyan {
	background-color: cyan;	
	color: black;
}

.v-calendar .v-calendar-event-green {
	background-color: #80FFCC;	
	color: black;
}


.v-calendar .v-calendar-event-blue {
	background-color: #1975FF;	
	color: black;
}
.v-calendar .v-calendar-event-purple {
	background-color: #CC66FF;	
	color: black;
}
.v-calendar .v-calendar-event-grey {
	background-color: #d2d2cf;	
	color: black;
}
.v-calendar .v-calendar-event-orange {
	background-color: #FFCC99;	
	color: black;
}
.v-calendar .v-calendar-event-pink {
	background-color: #FFB5DA;	
	color: black;
}

.v-calendar .v-calendar-event-content {
	font-weight: 1900 !important;
	opacity: 0.5;
	border-style: solid;
}

.redicon .v-icon {
        color: red;
}

.greenicon .v-icon {
        color: green;
}
	
}
