/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin fisiosports {
  /* Include all the styles from the reindeer theme */
  @include reindeer;
  
	.style-titulo {
		backround-color: red;
		width: 100%;
		font-family:"Verdana", verdana, fantasy;
		border: 2px solid black;
		-moz-border-radius: 20px;		
	}

	.style-menu {
		backround-color: grey;
		heigth: 100%;
		font-family:"Verdana", verdana, fantasy;
		border-rigth: 2px solid black;
		-moz-border-radius: 20px;		
	}
	
		
}
